@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .botao {
        margin-top: 5px;
        width: 190px;
    }
    .titulo {
        margin-top: 12%;
    }
}

@media screen and (max-width:360px) {
    .botoes {
        margin-bottom: 15px;
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}